<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <allowedServerVariables>
        <add name="HTTP_X_API_KEY" />
      </allowedServerVariables>
      <rules>
        <rule name="Proxy API" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="http://127.0.0.1:5050/{R:1}" logRewrittenUrl="true" />
          <serverVariables>
            <set name="HTTP_X_API_KEY" value="super-secret-one-liner" />
          </serverVariables>
        </rule>
        <rule name="Proxy Next.js" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3000/{R:0}" logRewrittenUrl="true" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="Rewrite API Location header" preCondition="ResponseIsRedirect">
          <match serverVariable="RESPONSE_Location" pattern="^http://127\.0\.0\.1:5050/(.*)$" />
          <action type="Rewrite" value="https://fastlinegroup.com/api/{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="ResponseIsRedirect">
            <add input="{RESPONSE_StatusCode}" pattern="30[127]" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-Content-Type-Options" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".map" mimeType="application/json" />
    </staticContent>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment=".next" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <proxy reverseRewriteHostInResponseHeaders="true" />
  </system.webServer>
</configuration>